:root {
  --dark: #222428;
  --white: #cccccc;
  --text: var(--white);
  --blue: #74acef;
  --red: #d76c75;
  --green: #9ac479;
  --yellow: #dfc27b;
  --magenta: #c374dd;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  background-color: var(--dark);
}

* {
  color: var(--text);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--magenta);
}